html {
  height: 100%;
  display: flex;
  background: #1D1E22;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: auto;
  text-align: center;
}

.visualizer {
  display: flex;
  width: 100vw;
  height: 50vmin;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 700px;
          perspective: 700px;
}

.node {
  display: block;
  width: 5em;
  height: 100%;
  flex: 1 1 auto;
  background: blue;
  background: rgb(var(--c, 0), 155, 50);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  margin: 5px;
  -webkit-transform: scaleY(var(--level, 0.1));
          transform: scaleY(var(--level, 0.1));
  -webkit-transform: translateZ(calc(  (1 - var(--level, 0)) * -200px )) scaleY(calc(  (var(--level,0) * 0.75) + 0.25));
          transform: translateZ(calc(  (1 - var(--level, 0)) * -200px )) scaleY(calc(  (var(--level,0) * 0.75) + 0.25));
  -webkit-animation: eq-in .6s ease-out backwards;
          animation: eq-in .6s ease-out backwards;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1.3);
          animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1.3);
  -webkit-animation-duration: calc( .8s + ( var(--i) * .05s ) );
          animation-duration: calc( .8s + ( var(--i) * .05s ) );
}
@-webkit-keyframes eq-in {
  from {
    -webkit-transform: translateZ(calc(  (1 - var(--level, 0)) * -200px )) scaleY(1);
            transform: translateZ(calc(  (1 - var(--level, 0)) * -200px )) scaleY(1);
  }
}
@keyframes eq-in {
  from {
    -webkit-transform: translateZ(calc(  (1 - var(--level, 0)) * -200px )) scaleY(1);
            transform: translateZ(calc(  (1 - var(--level, 0)) * -200px )) scaleY(1);
  }
}